{% extends 'index.html' %}

{% block title %}
	About me
{% endblock %}

{% block body %}
	<h1>About me</h1>
    <p>
        hi! i'm Sofia, a high school student in russia. this summer i've been on my most incredible trip across georgia (country) and i really want to share my experience with you!<br><br>
        if you like my content, you can support me here: link<br>
        follow me on instagram: <a href="https://www.instagram.com/sonka_kobernik?igsh=MWRhaHI5cTF1MDBwZw==">sonka_kobernik</a>
    </p>
{% endblock %}
