main {
    background: #c7e6ea;
    height: 100%;
}

aside {
    width: 15%;
    height: 100vh;
    border-right: lightblue 3px dashed;
    padding: 2%;
    background: rgb(176, 224, 230);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

aside h3 {
    font-size: 30px;
    margin-top: -20px;
}

aside a {
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
    color: black;
    text-decoration: none;
}

aside .accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}
aside .accordion .content {
    overflow-y: hidden;
    max-height: 0;
    transition: max-height 1s ease;
}

aside .accordion .content a {
    margin-left: 15px;
    line-height: 10px;
    font-size: 15px;
}

aside .accordion > input[type="checkbox"]:checked ~ .content {
    max-height: 100vh;
}
aside .accordion label {
    display: block;
}


main .features {float: unset}
main .features h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
main .features p {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
main .features .parent {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

main h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

main .text-center {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
}

main h2 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

main figure {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

main figure figcaption {
    text-align: center;
}

main .container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

main p {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

main .container-fluid {
    margin-left: 200px;
    width: fit-content;
    margin-right: 170px;
}

* {box-sizing: border-box;}
form {
    position: fixed;
    width: 250px;
    top: 10px;
    right: 10px;
}
input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 2px solid lightblue;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
    color: #9E9C9C;
}
button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: none;
    background: lightblue;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
